body{
    font-family: "Akzidenz-Grotesk BQ";
    margin: 0;
}

::placeholder{
    color: #0A333D;
}

.a-azul{
    color: #158977;
    text-decoration: none;
}

.a-blanco{
    color: white;
    text-decoration: none;
}

#bloque1{
    display: flex;
    height: 100vh;
}

#bloque1-img{
    padding: 3em;
    width: 66%;
    background: url('../resources/imagen-attraction.png') no-repeat left fixed;
    background-size: 66%;
    color: white;
}

#b1-img1{
    height: 2.5em;
    margin-bottom: 4em;
}

#b1-img2{
    height: 5vh;
    margin-left: -.5em;
}

#b1-p1{
    font-size: 2.5em;
}

#b1-p2{
    font-size: 1.2em;
}

#b1-p3{
    font-size: 1.2em;
}

#b1-p3 img{
    margin-bottom: -.4em;
    cursor: pointer;
}

#bloque1-form{
    /* display: flex;
    flex-direction: column; */
    color: #0A333D;
    width: 33%;
    background-color: #BDCCC7;
    padding: 5% 3%;
}

#bloque1-form p{
    font-size: 2.2em;
    margin: 0;
}

#bloque1-form img{
    margin: 2em 0;
}

#bloque1-form form{
    display: flex;
    flex-direction: column;
}

.b1-input{
    margin-bottom: 1.5em;
    padding: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #0A333D;
}

#brochureform{
    font-size: 1.1em;
    cursor: pointer;
    color: white;
    background-color: #0A333D;
    border: none;
    padding: .8em;
}

.check{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    font-size: .8em;
    cursor: pointer;
}

#bloque2{
    display: flex;
    height: 35vh;
}

#b2-content{
    display: flex;
    padding: 2%;
}

#b2-title p{
    width: 50%;
    font-size: 2em;
    margin: 1em auto;
    align-items: center;
}

#b2-sub{
    width: 50%;
    padding: .3em;
}

#b2-sub p{
    padding: 0 8em;
}

#b2-sub a{
    padding: 0 8em;
}

#carrousel{
    display: flex;
    justify-content: center;
}

#icon-sep{
    display: flex;
    justify-content: center;
    align-items: center;
}

#bloque3{
    text-align: center;
    justify-content: center;
    height: 40vh;
    color: white;
    gap: 2vw;
    display: flex;
    flex-direction: row;
}

#bloque3 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: 20vw;
    width: 20vw;
}

.b3-sec-t{
    font-size: 4.2em;
    margin: 0;
}

.b3-sec-s{
    font-size: 1.2em;
}

#b3-sec1{
    background-image: url('../resources/b3-sec1img.png');
}

#b3-sec2{
    background-image: url('../resources/b3-sec2img.png');
}

#b3-sec3{
    background-image: url('../resources/b3-sec3img.png');
}

#b3-sec4{
    background-image: url('../resources/b3-sec4img.png');
}


#icon-sep{
    height: 35vh;
}

#bloque4{
    color: #0A333D;
}

.b4-secimg{
    padding: 0 3vw;
}

.b4-secimg img{
    width: 40vw;
}

#b4-sec1{
    display: flex;
    flex-direction: row;
    padding: 3vw;
}

#b4-sec2{
    display: flex;
    flex-direction: row;
    padding: 3vw;
}

#b4-sec3{
    display: flex;
    flex-direction: row;
    padding: 3vw;
}

.b4-sectext{
    padding: 0 6em;
}

.b4-sec-t{
    font-size: 2.2em;
}

.b4-sec-s{
    font-size: 1em;
    padding-right: 12em;
}

#bloque5{
    color: white;
    height: 75vh;
    background-image: url('../resources/imgbloque5.png');
}

#b5-line{
    margin: 3vh 0;
}

#b5-content{
    padding: 10vh 8vw;
}

.b5-con-t{
    margin: 0;
    font-size: 2em;
}

.b5-con-s{
    font-size: 1em;
    padding-right: 50vw;
}

#maps{
    align-items: center;
    height: 75vh;
    background-image: url('../resources/imgmaps.png');
}

#footer{
    align-items: center;
    display: flex;
    flex-direction: row;
    color: white;
    height: 12vh;
    background-color: #0A333D;
    justify-content: space-between;
}

#footer-content{
    margin: 1vh 2vw;
}

#footer-content p{
    margin: 0;
    font-size: .7em;
}

#namelogo-footer{
    height: 24px;
}

#socialmediaicons{
    margin-right: 16px;
    display: flex;
    align-items: center;
}
